{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="loginContainer">
<form action="{{ path("fos_user_security_check") }}" method="post" >
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" class="form-control" id="username"
               name="_username" value="{{ last_username }}" required="required"
               aria-describedby="emailHelp" placeholder="Enter yor name"/>
        <br>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required"
               class="form-control" placeholder="Password"/>
    <input type="submit" id="_submit" name="_submit" class="btn btn-outline-primary btnRL"
           value="{{ 'security.login.submit'|trans }}" />
    <br>
</form>
<a href="{{ path('fos_user_registration_register') }} " class="btn btn-outline-primary btnRL">Регистрация</a>
    </div>
{% endblock fos_user_content %}