{% extends "base.html.twig" %}

{% block title %}Title{% endblock %}
{% block body %}
    <div style="margin: 100px 30% 0 30%">
<h1>Добро пожаловать на сайт instagram</h1>
<a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-primary btnRL"> Войти </a> <br>
<a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline-primary btnRL" > Регистрация</a>
    </div>
{% endblock %}