{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div style="float: right ; margin-right: 100px" >
    <a href="{{ path('type') }}" > Лента </a>
        <a href="{{ path('fos_user_security_logout') }}"> Выйти </a>
    </div>
    <div style="margin: 50px 10% 0 10%">
 <h1 style="text-align: center">Мой профиль</h1>
    <p>Email : {{ app.user.email }}</p>
    <p>Имя   : {{ app.user.username }}</p>
    <hr style="border: 2px solid black">
    <h2 style="text-align: center" >Новая побликация</h2>
        {{ form(form) }}
        <hr style="border: 2px solid black">
    <h2 style="text-align: center" > Мои публикации</h2>
        <div style="margin-top: 50px">
    {% for image in images %}
        <div style="width: 240px; height: 240px; display: inline-block; margin: 0 ; text-align: center" >
        <img width="200" height="200" src="{{ vich_uploader_asset(image, 'imageFile') }}">
            <br>
        </div>
        {% endfor %}
        </div>
        <hr style="border: 2px solid black">
        <h2 style="text-align: center" > Публикация тех на кого я подписан</h2>

    {% for follower in followers  %}
    {% for image in follower.getPosts %}
        {% if app.user.hasFollowers(image.author) %}
    <div style="width: 240px; height: auto; display: inline-block; margin:  0  ; text-align: center" >
        <img width="200" height="200" src="{{ vich_uploader_asset(image, 'imageFile') }}">
        <p style="margin-bottom: 0"> Автор : {{ image.author }}</p>
        <a style="float: left; margin-left: 40px; " href="{{ path('app_post_likers', {'id' : image.id}) }}">Like</a>
        <p style="float: right; margin-right: 40px; " >{{ image.count }}</p>
        <a style="float: left;
                        margin-left: 40px; " href="{{ path('app_post_removefallow', {'id' : image.author.id}) }}"> Remove fallows</a>
    </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}