{% extends "base.html.twig" %}

{% block title %}AppBundle:Post:index{% endblock %}

{% block body %}
    <div style="float: right ; margin-right: 100px" >
        <a href="{{ path('profil') }}">мой профиль</a>
        <a href="{{ path('fos_user_security_logout') }}"> Выйти </a>
    </div>
    <div style="margin: 50px 10% 0 10%" >
           <h1 style="text-align: center"><b>Лента</b></h1>
        {% for image in images %}
            <div style="width: 240px; height: auto; display: inline-block; margin:  0  ; text-align: center" >
                <img width="200" height="200" src="{{ vich_uploader_asset(image, 'imageFile') }}">
                <p style="margin-bottom: 0"> Автор : {{ image.author }}</p>
                {% if image.author != user.username  %}
                <a style="float: left; margin-left: 40px; " href="{{ path('app_post_likers', {'id' : image.id}) }}">Like</a>
                <p style="float: right; margin-right: 40px; " >{{ image.count }}</p>

                    {% if app.user.hasFollowers(image.author) %}
                    <a style="float: left;
                        margin-left: 40px; " href="{{ path('app_post_removefallow', {'id' : image.author.id}) }}"> Remove fallows</a>
                {% else %}
                    <a style="float: left;
                        margin-left: 40px; " href="{{ path('app_post_fallow', {'id' : image.author.id}) }}">Fallows</a>

                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
